body {
    color: #fff;!important;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

}
.btn-primary{
    background-color: #1ab394;!important;
    border-color: #1ab394;!important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1ecca9;!important;
    border-color: #1ecca9;!important;
}
.btn-danger{
    color: #fff;
    background-color:#FC6A35	;!important;
    border-color: #FC6A35	;!important;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ef3816;!important;
    border-color: #ef3816;!important;
}
.btn-info{
    color: #fff;
    background-color: #066F92		;!important;
    border-color: #066F92		;!important;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39A5C8	;!important;
    border-color: #39A5C8	;!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1ab394;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #1ab394;!important;
    border-color: #1aad8f #1cbd9c #1ecca9;!important;
}
.nav-link:focus, .nav-link:hover {
    color: #1ab394;!important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.card{
    color: white;!important;
    background-color: white;
}
.mt-auto {
    margin-top: auto!important;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table{
    color: #fff;!important;
    --bs-table-striped-color: #fff;
    --bs-table-hover-color: #bc4123;
    --bs-table-active-color: #bc4123;
}
.table-title {
    padding-bottom: 15px;
    background: #495164;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 36px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 16px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.modal{
    background-color: rgba(17, 17, 17, 0.25);
}
.modal-content{
    background-color: #0b172a;
}